# base
torch
torchvision
torchaudio
torchcodec
transformers
accelerate
huggingface_hub
hf_transfer
qwen_asr
soundfile
argparse
rich
numpy

# google
google-genai

# demucs
demucs

# build/test
ninja
ruff
pylint

# tune
g2p_en
sentence-transformers
editdistance
